/*------------------------------------------------------------------
BASE
------------------------------------------------------------------*/

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*------------------------------------------------------------------
GÉNERIQUE
------------------------------------------------------------------*/

.wrapper{
    max-width: 1080px;
    margin:0 auto;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    background-color: white;
    font-size: 18px;
}

a{
    text-decoration: none;
}

/*------------------------------------------------------------------
COMPONENTS
------------------------------------------------------------------*/

/*---header*/

header{
    background-color: #F26C25;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p{
    font-size: 36px;
    font-weight: bold;
    color: white;
}

header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 40px;
}

nav a { 
    color: white;
}
nav a:hover { 
    text-decoration: underline;
}

/*---banniere---*/

.banniere{
    background-color:#EEEEEE;
}

.banniere .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.banniere h1{
    font-size: 36px;
    font-weight: 250;
    letter-spacing: 7.2px;
}

/*---section transports---*/

.titreSection{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    background-color: #EEEEEE;
    border: 1px, solid #d0d0d0;

    margin-top: 80px;
    margin-bottom: 60px;
}

.titreSection h2{
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}

strong{
    font-weight: bold;
}

.titreSection .js-plus{
    margin-right: 20px;
    cursor: pointer;
}

.conteneur-transport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.conteneur-transport-invisible{
    display: none;
}

.conteneur-transport h3{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.conteneur-transport p{ 
    font-weight:400 ;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 86px ;
}


/*---footer---*/

footer{
    background-color: black;
    height: 70px;
}

footer .wrapper ul li a{
    display: inline-block;
    width: 32px;
    height: 32px;
}


.FB a{
    background-image: url("../images/facebook-nb.jpg");
}

.FB a:hover{
    background-image: url("../images/facebook-survol.jpg");
}

.twitter a{
    background-image: url("../images/twitter-nb.jpg");
}

.twitter a:hover{
    background-image: url("../images/twitter-survol.jpg");
}

.linked a{
    background-image: url("../images/linkedin-nbjpg.jpg");
}

.linked a:hover{
    background-image: url("../images/linkedin-survol.jpg");
}
.pinterest a{
    background-image: url("../images/pinterest-nb.jpg");
}

.pinterest a:hover{
    background-image: url("../images/pinterest-survol.png");
}

footer .wrapper{
    display: flex;
    justify-content: space-between;
}

footer ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-self: center;
}

footer h4{
    color: white;
    font-weight: 400;
    align-items: center;
}
